.attribution {
  position: absolute;
  background: white;
  width: 200px;
  bottom: 0;
  right: 0;
  padding: 1em;
  border-top-left-radius: 5px;
  font-size: 0.7rem;
  text-align: left;
  color: #3e52a3;
}